.login-container{
  width: 100%;
  padding: 15px;
  margin: auto;
  background-color: #614ea6;
  height: 100vh;

}
.form-login{
  min-width: 315px;
  height: 50vh;
}
.button-login{
  background-color: #f21667;
  color: #fff;
}

.button-login:hover{
  background-color: #fff;
  color: #614ea6;
}

.options-login > a{
  text-decoration: none;
  color: #ffff;
  transition: all .3 ease-in-out;
}

.options-login > a:hover{
  text-decoration: none;
  color: #f21667;
}