.new-user{
  height: 100vh;
  background-color: #614ea6;
}

.form-login{
  min-width: 315px;
  height: 50vh;
}

.button-register{
  background-color: #f21667;
  color: #fff;
}
.button-register:hover{
  background-color: #fff;
  color: #614ea6;
}
.button-register.-inactive{
  cursor: not-allowed;
  opacity: 0.9;
}

.message-register {
  white-space: pre-line;
}